.App {
  text-align: center;
}

p {
  font-size: 12px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.show {
  display: block
}

.hide {
  display: none;
}

/* HOME */

.navigation {
  margin: 2em;
}

button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

button:hover {
  background-color: #5F4B66;
  color: white;
  cursor: pointer;
}

.Rent-form {
  margin: 2em;
  padding: 1em;
  border: dotted white 5px;
  border-radius: 10px;
  background-color: #FFD36D;
}

.Rent-form div {
  padding-bottom: .5em;
}

.Rent-form div:last-of-type {
  padding-bottom: 1em;
}

.Rent-form button:hover {
  background-color: #893B63;
}

/* * {
  border: black 1px solid;
} */
