/* Basics */
.App {
  text-align: center;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  color: white;
}

footer {
  height: 100px;
  margin-top: 25%;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* HOME */

.navigation {
  margin: 2em;
}

button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

button:hover {
  background-color: #5F4B66;
  color: white;
  cursor: pointer;
}


/* Rental Form */
.Rent-form {
  margin: 2em;
  margin-top: .5em;
  padding: 1em;
  border: dotted white 5px;
  border-radius: 10px;
  background-color: #FFD36D;
  display: flex;
  justify-content: space-around;
}

.Rent-form div {
  padding-bottom: .5em;
}

.Rent-form div:last-of-type {
  padding-bottom: 1em;
}

.Rent-form button:hover {
  background-color: #893B63;
}

.chosen {
  text-align: left;
}

/* Alert messages */
.status {
  color: red;
}

/* * {
  border: black 1px solid;
} */
